
<div class="app-header">
    <div class="nav">
        <div>
            <a routerLink="" routerLinkActive="active">
        <h2 class="logo">Mr.Bitcoin</h2>
    </a>
    </div>
<nav >
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="../../../assets/icons/home.png" class="icon" class="home-img"> 
    </a>
    <a routerLink="/contact" routerLinkActive="active">
        <img src="../../../assets/icons/users.png" class="icon" class="contact-img"> 
    </a>
  </nav>
  <a routerLink="/signup" routerLinkActive="active" > <h2>SIGN UP</h2></a>
</div>
</div>
