.user-card {
    min-height: 220px;
    width: 350px;
    border: 1px solid lightgray;
    margin: 0 auto;
    text-align: center;
    color: rgb(102, 83, 83);
    box-shadow: 1px 1px 3px 3px #958d8d57;
    margin-bottom: 50px;
    background-color: ghostwhite;
    &:hover{
        opacity: 0.9;
    }
  }

  li{
      background-color: rgb(191, 220, 248);
  }

  .icon {
      height: 30px;
      width: 30px;
      margin-right: 5px;
  }

  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  li{
      list-style: none;
      font-family: Arial, Helvetica, sans-serif;
      word-spacing: 2px;font-weight: bold;
      color: rgb(61, 107, 109);

  }

  .transactions{
      text-decoration: underline;
  }

 