.loading{
    width: 150px;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 150px;
    position: fixed;
    z-index: 1;
}

img{
    width: 150px;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
    background-color: lightblue;
}