.signup-modal {
    min-height: 450px;
    width: 450px;
    border: 1px solid lightgray;
    background-color: cadetblue;
    margin: 0 auto;
    text-align: center;
    
    box-shadow: 1px 1px 3px 3px #958d8d57;
}

.sign-up{
    margin-top:100px
}

input{
    padding: 5px;
    margin-right: 25px;
}

.signup-btn{
    background-color: rgb(134, 206, 63);
    color: darkcyan;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    
}

@media screen and (max-width: 540px) {
    .signup-modal {

        width: 350px;
}
}