<form (submit)="onSaveContact()" class="contact-edit">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="contact.name" [(ngModel)]="contact.name">
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone"  placeholder="contact.phone" [(ngModel)]="contact.phone">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email"  placeholder="contact.email" [(ngModel)]="contact.email">
    <button>Save</button>
  </form>
