/* You can add global styles to this file, and also import other style files */

h1, h2, h3 {
    color:rgb(51, 42, 42)
}

a:hover {
    opacity: 0.9;
}

body {
    background-image: url("https://wallpaperaccess.com/full/395716.jpg");
    background-size: cover;
}


